<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>"Book Recommender System</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<style>
    .text-white {
        color: white
    }
</style>

<body style="background-color: black;">
    <nav class="navbar" style="background-color:#00a65a;">
        <p class="navbar-brand">My Book Recomender</p>
        <ul class="nav navbar-nav">
            <li style="background-color: beige;"><a>Home</a></li>
            <li style="background-color: beige;"><a>Recommend</a></li>
            <li style="background-color: beige;"><a>Contact</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-white" style="font-size: 50px;">Top 50 Books</h1>
            </div>
        </div>

        <div class="col-md-3" style="margin-top: 50px;">
            <div class="card">
                <div class="card-body">
                    <!--The height and width are selected here for display
                    based on the general aspect ratio of hard-cover published books-->
                    <img class="card-img" height="150" width="100"
                        src="https://images.thalia.media/00/-/3f9944adb91944fa97f4e733b940d71f/nineteen-eighty-four-1984-taschenbuch-george-orwell-englisch.jpeg">
                    <h3 class="text-white" style="margin-top: 30px;">1984</h3>
                    <p class="text-white">Author: George Orwell</p>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="margin-top: 50px;">
            <div class="card">
                <div class="card-body">
                    <img class="card-img" height="150" width="100"
                        src=https://images.thalia.media/00/-/9b115150f8514bc2a66d3b06bc6315b8/sophie-s-world-20th-anniversary-edition-taschenbuch-jostein-gaarder-englisch.jpeg>
                    <h3 class="text-white" style="margin-top: 30px;">Sophie's World</h3>
                    <p class="text-white">Author: Jostein Gaarder</p>
                </div>
            </div>
        </div>

    </div>
</body>

</html>